* {
  border: 1px dotted red;
}

.social {
  float: right;
  margin-right: .625em;
  text-decoration: none;
  color: black;
  margin-top: 1.5%;
}

.nav-bar {
  background-color: beige;
  height: 3em;
}

.nav-buttons {
  height: 100%;
}

@media screen and (max-width: 479px){
  
}
