.thumbnail iframe {
  width: 90em;
  height: 56.25em;
}

.thumbnail {
  position: relative;
  transform: scale(0.25);
  transform-origin: 0 0;
}

.thumbnail:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.thumbnail-container {
  width: calc(90em * 0.25);
  height: calc(56.25em * 0.25);
  display: inline-block;
  overflow: hidden;
  position: relative;
}
